  <tr class="<%= membro.id %>">
    <td><%= membro.nome.split(" ")[0] %></td>
    <td><%= membro.provincia %></td>
    <td><%= membro.nascimento.mday %>/<%= membro.nascimento.mon %>/<%= membro.nascimento.year %></td>
    <td>
      <% if membro.sexo %> Homem
      <% else %> Mulher
      <% end %></td>
    <td><%= membro.estado_civil %></td>
    <td><%= membro.categoriareligiosa %></td>
    <td><%= membro.cargolideranca %></td>
    <td class="text-center">
      <%= link_to 'Ver', membro, class: "btn btn-primary" %>
      <% if current_usuario.nivel != "tesoureiro" %>
      <button class="btn btn-warning" data-toggle="modal" data-target="#novo<%= membro.id %>">Editar</button>
      <%= link_to 'Eliminar', membro, method: :delete, class: "btn btn-danger" %>
        <% end %>
    </td>
  </tr>

