<tr>
    <td><%= membro.nome %></td>
    <td><%= membro.provincia %></td>
    <td><%= membro.nascimento.mday %>/<%= membro.nascimento.mon %>/<%= membro.nascimento.year %></td>
    <td><%= membro.sexo %></td>
    <td><%= membro.estado_civil %></td>
    <td><%= membro.categoriareligiosa %></td>
    <td><%= membro.cargolideranca %></td>
    <td class="text-center">
    <%= link_to 'Ver', membro, class: "btn btn-info"%> 
    <button class="btn btn-warning" data-toggle="modal" data-target="#novo<%= membro.id %>">Editar</button>
    <%= link_to 'Eliminar', membro, method: :delete, data: { confirm: 'Estás seguro?' }, class: "btn btn-danger" %>
    </td>
</tr>
