<div class="jumbotron text-center ">
  <h1>Controle de Membros</h1>
  <p>Igreja Evangélica Congregacional em Angola - I.E.C.A</p>
  <p>Congregação de Caná</p>
</div>

<div class="main container">

  <% if current_usuario.nivel != "tesoureiro" %>
  <div class="row text-center"> 
  <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#novo">Adicionar Membro</button>   
  </div>
    <% end %>
  <p>Procure membros pelo nome, cargo, província, etc</p>
  <%= form_tag membros_path, :method => 'get', remote: true, :class => "form-inline" do %>
    <div class="form-group col-sm-10" style="padding: 0px;">
         <%= text_field_tag :search, params[:search], :class => "form-control proc col-sm-12", :type => "text", :placeholder => "Pesquisar..."%>

    </div>
    <div class="form-group col-sm-2" style="padding: 0px; padding-left: 15px;">

        <%= submit_tag "Pesquisar", :class => "btn btn-primary col-sm-12" %>

    </div>
  <% end%>
  <br>
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Província</th>
          <th>Nascimento</th>
          <th>Gênero</th>
          <th>Estado Civil</th>
          <th>Ct. Religiosa</th>
          <th>Cargo</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody class="corpo">
        <% @membros.each do |membros| %>
          <%= render membros %>
          <%= render 'membros/formm', membro: membros %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="text-center"> 
      <%= will_paginate @membros, renderer: BootstrapPagination::Rails, previous_label: "Anteriores", next_label: "Próximos", inner_window: 1, outer_window: 0%>  
  </div>
</div>

<%= render 'membros/formm', membro: @membro %>



