<%= form_with(model: dizimo, remote: true) do |form| %>
 
  <div class="modal-body">
        <div class="field">
          <%= form.label :ano %>
          <%= form.text_field :ano, id: :dizimo_ano %>
        </div>

        <div class="field hidden checkbox">
          <%= form.label :jan %>
          <%= form.check_box :jan, id: :dizimo_jan %>
        </div>

        <div class="field hidden checkbox">
          <%= form.label :fev %>
          <%= form.check_box :fev, id: :dizimo_fev %>
        </div>

        <div class="field hidden checkbox">
          <%= form.label :mar %>
          <%= form.check_box :mar, id: :dizimo_mar %>
        </div>

        <div class="field hidden checkbox">
          <%= form.label :abr %>
          <%= form.check_box :abr, id: :dizimo_abr %>
        </div>

        <div class="field hidden checkbox">
          <%= form.label :mai %>
          <%= form.check_box :mai, id: :dizimo_mai %>
        </div>

        <div class="field hidden checkbox">
          <%= form.label :jun %>
          <%= form.check_box :jun, id: :dizimo_jun %>
        </div>

        <div class="field hidden checkbox">
          <%= form.label :jul %>
          <%= form.check_box :jul, id: :dizimo_jul %>
        </div>

        <div class="field hidden checkbox">
          <%= form.label :ago %>
          <%= form.check_box :ago, id: :dizimo_ago %>
        </div>

        <div class="field hidden checkbox">
          <%= form.label :set %>
          <%= form.check_box :set, id: :dizimo_set %>
        </div>

        <div class="field hidden checkbox">
          <%= form.label :out %>
          <%= form.check_box :out, id: :dizimo_out %>
        </div>

        <div class="field hidden checkbox">
          <%= form.label :nov %>
          <%= form.check_box :nov, id: :dizimo_nov %>
        </div>

        <div class="field hidden">
          <%= form.label :des %>
          <%= form.check_box :des, id: :dizimo_des %>
        </div>

        <div class="field hidden">
          <%= form.label :membro_id %>
          <%= form.text_field :membro_id, id: :dizimo_membro_id %>
        </div>
  </div>
      
  <div class="modal-footer">
      <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove"></span> Cancelar
      </button>
      <button type="submit" name="commit" class="btn btn-primary btn-default pull-left">
          <span class="glyphicon glyphicon-remove"></span> Salvar
      </button>   
  </div>  
<% end %>
