<%= form_with(model: dizimo, remote: true, id: dizimo.id) do |form| %>
 
  <div class="modal-body">
        <div class="field hidden">
          <%= form.label :ano %>
          <%= form.text_field :ano, id: :dizimo_ano %>
        </div>

        <div class="field checkbox">
          <%= form.label :jan, "Janeiro" %>
          <input name="dizimo[jan]" type="hidden" value="0">
          <input id="dizimo_jan" data-toggle="collapse" data-target="#jan<%= dizimo.id %>" type="checkbox" value="1" <% if dizimo.jan? %> checked="checked" <% end %> name="dizimo[jan]" class="collapsed">

          <div id="jan<%= dizimo.id %>" class="collapse
            <% if dizimo.jan? %> in
            <% end %>">
            <%= form.text_field :janv, id: :dizimo_janvv, class: "form-control", :placeholder => "Valor..." %>
          </div>


        </div>

        <div class="field checkbox">
          <%= form.label :fev, "Fevereiro" %>
          <input name="dizimo[fev]" type="hidden" value="0">
          <input id="dizimo_fev" data-toggle="collapse" data-target="#fev<%= dizimo.id %>" type="checkbox" value="1"
                 <% if dizimo.fev? %> checked="checked"
                 <% end %> name="dizimo[fev]" class="collapsed">

          <div id="fev<%= dizimo.id %>" class="collapse
                      <% if dizimo.fev? %> in
                      <% end %>">
            <%= form.text_field :fevv, id: :dizimo_fevv, class: "form-control", :placeholder => "Valor..." %>
          </div>
        </div>

        <div class="field checkbox">
          <%= form.label :mar, "Março" %>
          <input name="dizimo[mar]" type="hidden" value="0">
          <input id="dizimo_mar" data-toggle="collapse" data-target="#mar<%= dizimo.id %>" type="checkbox" value="1"
                 <% if dizimo.mar? %> checked="checked"
                 <% end %> name="dizimo[mar]" class="collapsed">

          <div id="mar<%= dizimo.id %>" class="collapse
                                <% if dizimo.mar? %> in
                                <% end %>">
            <%= form.text_field :marv, id: :dizimo_marv, class: "form-control", :placeholder => "Valor..." %>
          </div>
        </div>

        <div class="field checkbox">
          <%= form.label :abr, "Abril" %>
          <input name="dizimo[abr]" type="hidden" value="0">
          <input id="dizimo_abr" data-toggle="collapse" data-target="#abr<%= dizimo.id %>" type="checkbox" value="1"
                 <% if dizimo.abr? %> checked="checked"
                 <% end %> name="dizimo[abr]" class="collapsed">

          <div id="abr<%= dizimo.id %>" class="collapse
                                          <% if dizimo.abr? %> in
                                          <% end %>">
            <%= form.text_field :abrv, id: :dizimo_abrv, class: "form-control", :placeholder => "Valor..." %>
          </div>
        </div>

        <div class="field checkbox">
          <%= form.label :mai, "Maio" %>
          <input name="dizimo[mai]" type="hidden" value="0">
          <input id="dizimo_mai" data-toggle="collapse" data-target="#mai<%= dizimo.id %>" type="checkbox" value="1"
                 <% if dizimo.mai? %> checked="checked"
                 <% end %> name="dizimo[mai]" class="collapsed">

          <div id="mai<%= dizimo.id %>" class="collapse
                                                    <% if dizimo.mai? %> in
                                                    <% end %>">
            <%= form.text_field :maiv, id: :dizimo_maiv, class: "form-control", :placeholder => "Valor..." %>
          </div>
        </div>

        <div class="field checkbox">
          <%= form.label :jun, "Junho" %>
          <input name="dizimo[jun]" type="hidden" value="0">
          <input id="dizimo_jun" data-toggle="collapse" data-target="#jun<%= dizimo.id %>" type="checkbox" value="1"
                 <% if dizimo.jun? %> checked="checked"
                 <% end %> name="dizimo[jun]" class="collapsed">

          <div id="jun<%= dizimo.id %>" class="collapse
                                                              <% if dizimo.jun? %> in
                                                              <% end %>">
            <%= form.text_field :junv, id: :dizimo_junv, class: "form-control", :placeholder => "Valor..." %>
          </div>
        </div>

        <div class="field checkbox">
          <%= form.label :jul, "Julho" %>
          <input name="dizimo[jul]" type="hidden" value="0">
          <input id="dizimo_jul" data-toggle="collapse" data-target="#jul<%= dizimo.id %>" type="checkbox" value="1"
                 <% if dizimo.jul? %> checked="checked"
                 <% end %> name="dizimo[jul]" class="collapsed">

          <div id="jul<%= dizimo.id %>" class="collapse
                                                                        <% if dizimo.jul? %> in
                                                                        <% end %>">
            <%= form.text_field :julv, id: :dizimo_julv, class: "form-control", :placeholder => "Valor..." %>
          </div>
        </div>

        <div class="field checkbox">
          <%= form.label :ago, "Agosto" %>
          <input name="dizimo[ago]" type="hidden" value="0">
          <input id="dizimo_ago" data-toggle="collapse" data-target="#ago<%= dizimo.id %>" type="checkbox" value="1"
                 <% if dizimo.ago? %> checked="checked"
                 <% end %> name="dizimo[ago]" class="collapsed">

          <div id="ago<%= dizimo.id %>" class="collapse
                                                                                  <% if dizimo.ago? %> in
                                                                                  <% end %>">
            <%= form.text_field :agov, id: :dizimo_agov, class: "form-control", :placeholder => "Valor..." %>
          </div>
        </div>

        <div class="field checkbox">
          <%= form.label :set, "Setembro" %>
          <input name="dizimo[set]" type="hidden" value="0">
          <input id="dizimo_set" data-toggle="collapse" data-target="#set<%= dizimo.id %>" type="checkbox" value="1"
                 <% if dizimo.set? %> checked="checked"
                 <% end %> name="dizimo[set]" class="collapsed">

          <div id="set<%= dizimo.id %>" class="collapse
                                                                                            <% if dizimo.set? %> in
                                                                                            <% end %>">
            <%= form.text_field :setv, id: :dizimo_setv, class: "form-control", :placeholder => "Valor..." %>
          </div>
        </div>

        <div class="field checkbox">
          <%= form.label :out, "Outubro" %>
          <input name="dizimo[out]" type="hidden" value="0">
          <input id="dizimo_out" data-toggle="collapse" data-target="#out<%= dizimo.id %>" type="checkbox" value="1"
                 <% if dizimo.out? %> checked="checked"
                 <% end %> name="dizimo[out]" class="collapsed">

          <div id="out<%= dizimo.id %>" class="collapse
                                                                                                      <% if dizimo.out? %> in
                                                                                                      <% end %>">
            <%= form.text_field :outv, id: :dizimo_outv, class: "form-control", :placeholder => "Valor..." %>
          </div>
        </div>

        <div class="field checkbox">
          <%= form.label :nov, "Novembro" %>
          <input name="dizimo[nov]" type="hidden" value="0">
          <input id="dizimo_nov" data-toggle="collapse" data-target="#nov<%= dizimo.id %>" type="checkbox" value="1"
                 <% if dizimo.nov? %> checked="checked"
                 <% end %> name="dizimo[nov]" class="collapsed">

          <div id="nov<%= dizimo.id %>" class="collapse
                                                                                                                <% if dizimo.nov? %> in
                                                                                                                <% end %>">
            <%= form.text_field :novv, id: :dizimo_novv, class: "form-control", :placeholder => "Valor..." %>
          </div>
        </div>

        <div class="field checkbox">
          <%= form.label :des, "Dezembro" %>
          <input name="dizimo[des]" type="hidden" value="0">
          <input id="dizimo_des" data-toggle="collapse" data-target="#des<%= dizimo.id %>" type="checkbox" value="1"
                 <% if dizimo.des? %> checked="checked"
                 <% end %> name="dizimo[des]" class="collapsed">

          <div id="des<%= dizimo.id %>" class="collapse
                                                                                                                          <% if dizimo.des? %> in
                                                                                                                          <% end %>">
            <%= form.text_field :desv, id: :dizimo_desv, class: "form-control", :placeholder => "Valor..." %>
          </div>
        </div>

        <div class="field hidden">
          <%= form.label :membro_id %>
          <%= form.text_field :membro_id, id: :dizimo_membro_id %>
        </div>
  </div>
      
  <div class="modal-footer">
      <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove"></span> Cancelar
      </button>
      <button type="submit" name="commit" class="btn btn-primary btn-default pull-left">
          <span class="glyphicon glyphicon-remove"></span> Salvar
      </button>     
  </div>


  
<% end %>
