<p id="notice"><%= notice %></p>

<p>
  <strong>Ano:</strong>
  <%= @dizimo.ano %>
</p>

<p>
  <strong>Jan:</strong>
  <%= @dizimo.jan %>
</p>

<p>
  <strong>Fev:</strong>
  <%= @dizimo.fev %>
</p>

<p>
  <strong>Mar:</strong>
  <%= @dizimo.mar %>
</p>

<p>
  <strong>Abr:</strong>
  <%= @dizimo.abr %>
</p>

<p>
  <strong>Mai:</strong>
  <%= @dizimo.mai %>
</p>

<p>
  <strong>Jun:</strong>
  <%= @dizimo.jun %>
</p>

<p>
  <strong>Jul:</strong>
  <%= @dizimo.jul %>
</p>

<p>
  <strong>Ago:</strong>
  <%= @dizimo.ago %>
</p>

<p>
  <strong>Set:</strong>
  <%= @dizimo.set %>
</p>

<p>
  <strong>Out:</strong>
  <%= @dizimo.out %>
</p>

<p>
  <strong>Nov:</strong>
  <%= @dizimo.nov %>
</p>

<p>
  <strong>Des:</strong>
  <%= @dizimo.des %>
</p>

<p>
  <strong>Membro:</strong>
  <%= @dizimo.membro %>
</p>

<%= link_to 'Edit', edit_dizimo_path(@dizimo) %> |
<%= link_to 'Back', dizimos_path %>
