<div class="jumbotron text-center ">
  <h1>Estatísticas - Conheça os Números</h1>
  <p>Igreja Evangélica Congregacional em Angola - I.E.C.A</p>
  <p>Congregação de Caná</p>
</div>

<div class="container">
  <h4>Quantidade Membros Registrados</h4>
  <div class="well"><%= @quantidade %></div>
  <h4>Homens</h4>
  <div class="well"><%= @homens %></div>
  <h4>Mulheres</h4>
  <div class="well"><%= @mulheres %></div>
  <h4>Crianças</h4>
  <div class="well"><%= @crianças %></div>
  <h4>Jovens</h4>
  <div class="well"><%= @jovens %></div>
  <h4>Casados</h4>
  <div class="well"><%= @casados %></div>
</div>